---
layout: default
hide-header-footer: true
---

<div class="home">
  <script src="js/home-box-responsive.js" defer></script>
  <div id="home-boxes">
    <div class="box box-head">
      <div class="box-row">
        <img src="/assets/img/profpic.png" alt="Profile Picture">
        <h1>
          Hi, I'm <a href="{{ '/' | relative-url }}">Chris Bobbe</a>, a passionate hacker and writer
        </h1>
      </div>
    </div>
    <div class="box red">
      <div class="box-row">
        <h1>
          See my <a href="{{ '/about' | relative-url }}">about page</a>
        </h1>
      </div>
    </div>
    <div class="box blue">
      <div class="box-row">
        <h1>
          or my <a href="{{ '/reading-list' | relative-url }}">reading list</a>
        </h1>
      </div>
    </div>
    <div class="box green">
      <div class="box-row">
        <h1>
          or my <a href="{{ '/blog' | relative-url }}">blog!</a>
        </h1>
      </div>
    </div>
    <!--
    <div class="box yellow">
      <div class="box-row">
        <h1>
          or my yellow box
        </h1>
      </div>
    </div>
    <div class="box box-foot">
      <div class="box-row">
        <h1>
          or my gray box
        </h1>
      </div>
    </div>
    -->
  </div>

</div>
